# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
/.idea/

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json

# Node Modules
/node_modules/
package-lock.json