/* LOGIN */

.d2l-body, d2l-navigation {
	background-color: rgb(32, 32, 32) !important;
}

d2l-navigation-link-image {
	filter: brightness(0) invert(100%);
}

.d2l-htmlblock tbody td:first-of-type {
	border-radius: 15px;
}

.d2l-htmlblock tbody td:nth-child(3) tbody {
	border-radius: 15px;
}

.d2l-htmlblock tbody td:nth-child(3) tbody img {
	float: none !important;
}

.d2l-page-main tbody tr:nth-child(2) {
	display: none !important;
}

.d2l-page-main .d2l-htmlblock-untrusted {
	display: none;
}