/********** Definition for variables **********/
:root {
	--Background: #212121;
	--Background2: #424242;
	--Accent: #E65100;
}

/********** Generic Page **********/
/* Headers on top of page */
d2l-navigation-main-header,
d2l-navigation-main-footer{
	background-color: var(--Background) !important;
	border-bottom: 1px solid var(--Background2);
}

/* Color bar on top of page */
.d2l-navigation-s-band-color {
	background-color: var(--Accent) !important;
}

.d2l-tile {
	background-color: var(--Background2) !important;
}

/* Site Body */
body {
	background-color: var(--Background) !important;
}

/*** Scrollbar ***/
::-webkit-scrollbar {
	width: 10px;
	background: var(--Background);
	box-shadow: inset 0 0 3px black;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--Background2);
	border-radius: 10px;
}

/***/

/* Main Logo Brightness */
img[alt="My Home"] {
	filter: brightness(3);
}

/* Top Menu Name Colors */
.d2l-navigation-s-button-highlight.d2l-dropdown-opener {
	color: #9E9E9E;
}

/* Notification Circle */
.d2l-navigation-button-notification-icon {
	border-color: var(--Accent) !important;
}

/********** Top Icons **********/
/* menu dividers*/
d2l-icon[icon="d2l-tier2:divider-big"] {
	color: #616161 !important;
}

d2l-icon[icon="d2l-tier3:classes"],
d2l-icon[icon="d2l-tier3:email"],
d2l-icon[icon="d2l-tier3:discussions"],
d2l-icon[icon="d2l-tier3:notification-bell"],
d2l-icon[icon="navigation-42:profile"] {
	color: #9E9E9E;
}

/* Highlight Color */
.d2l-navigation-button:hover .d2l-navigation-button-top-border {
	background-color: #2196F3 !important;
}

.d2l-navigation-button-icon .d2l-navigation-button:hover {
	color: #2196F3 !important;
}

.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar {
	background-color: #64B5F6 !important;
}

.d2l-navigation-s-button-highlight[data-active] d2l-icon {
	color: #64B5F6 !important;
}

/* Remove Obnoxious gradient */
d2l-navigation::shadow .d2l-navigation-shadow-gradient {
	display: none !important;
}

/* Dropdown Content */
.d2l-dropdown-content-width {
	background-color: var(--Background2) !important;
	border-color: black !important;
}

/* Notification Badges */
.d2l-minibar-activity-message-image {
	filter: brightness(2);
}

.d2l-dropdown-content-pointer div:first-child {
	background-color: var(--Background2) !important;
	border-color: black !important;
	box-shadow: none !important;
}

.d2l-dropdown-content-pointer {
	clip: rect(-10px, 21px, 8px, -8px) !important;
	z-index: unset !important;
}

/* Dropdown Messages */
#AB_DL_PH_Messages .d2l-datalist-container {
	background-image: none !important;
}

.vui-list > .vui-selected {
	background-color: #616161 !important;
}

/* Dropdown Profile Menu Separator */
.d2l-minibar-menu-separator {
	border-bottom: 1px dotted #d0d0d0 !important;
}

/* Search Bar */
.vui-input, .vui-input:hover {
	background-color: #616161 !important;
	color: whitesmoke !important;
	border: none !important;
	padding: 0.4rem 2.1rem 0.4rem 0.75rem !important;
}

.vui-input::placeholder {
	color: whitesmoke !important;
}

.vui-input-search-button, .vui-input-search-clear-button{
	filter: brightness(2) !important;
}

.d2l-tabs-container {
	max-width: inherit !important;
}

/* Text Color */
.d2l-typography,
.d2l-heading {
	color: #EEEEEE !important;
}

.d2l-textblock-secondary,
.course-code-text,
.d2l-navigation-s-link,
p,
.d2l-htmlblock {
	color: #E0E0E0 !important;
}

.d2l-textblock {
	color: #BDBDBD !important;
}

[style="font-size: 12pt; color: #633d28;"] {
	color: #795548 !important;
}

/* Links */
.d2l-link-elem:link,
.d2l-link:link {
	color: #448AFF !important;
}

.d2l-link-elem:visited,
.d2l-link:visited {
	color: #7C4DFF !important;
}

/* Highlight Background Color */
.vui-active {
	background-color: #616161 !important;
}

/* Loading Icon Spinner */
.d2l-loading-spinner circle[stroke-width="0.5"] {
	/*Border Color*/
	stroke: black !important;
	background-color: black;
}

.d2l-loading-spinner circle[fill="#FFF"] {
	fill: #616161;
}

.d2l-loading-spinner-0 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child + path,
.d2l-loading-spinner-1 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child + path,
.d2l-loading-spinner-2 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child + path {
	fill: #9E9E9E !important;
	border: none;
	stroke: #9E9E9E;
	stroke-width: 0.5;
}

.d2l-loading-spinner-0 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child,
.d2l-loading-spinner-1 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child,
.d2l-loading-spinner-2 .d2l-loading-spinner-wrapper svg[class*="slice"] g path:first-child {
	fill: #616161;
}

.d2l-loading-spinner-0 .d2l-loading-spinner-bg.d2l-loading-spinner,
.d2l-loading-spinner-1 .d2l-loading-spinner-bg.d2l-loading-spinner,
.d2l-loading-spinner-2 .d2l-loading-spinner-bg.d2l-loading-spinner {
	stroke: #D84315;
}

/* Sidebar Calender Dropdown */
.d2l-widget {
	border-color: #616161 !important;
}

.d2l-collapsepane-header {
	background-color: #616161 !important;
	background-image: none !important;
	color: whitesmoke;
	border: 1px solid black !important;
}

[icon="d2l-tier1:arrow-expand"],
[icon="d2l-tier1:arrow-collapse"] {
	color: #757575 !important;
}

.d2l-collapsepane-content {
	background-color: #616161 !important;
	border-right: 1px solid black !important;
	border-left: 1px solid black !important;
	border-bottom: 1px solid black !important;
}

.d2l-textblock {
	color: #EEEEEE;
}

/* Various Context Menus */
.d2l-contextmenu {
	background-color: var(--Background2);
	border-color: black !important;
}

/* color of horizontal ruler */
hr {
	border-color: var(--Background2) !important;
	background-color: var(--Background2) !important;
	color: var(--Background2) !important;
}

/* Replace obnoxious Gradient Shadow */
.d2l-twopanelselector-side.d2l-twopanelselector-side-sep,
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
}

/* User Profile Pictures / Icons */
.d2l-badge-userprofile {
	border-radius: 8px;
}

.d2l-badge-userprofile[src*="Framework.UserProfileBadge"] {
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%20%20%20%20%3Cpath%20fill%3D%22%23494c4e%22%20fill-rule%3D%22evenodd%22%20d%3D%22M21%200H3C1.35%200%200%201.35%200%203v18c0%201.65%201.35%203%203%203h18c1.65%200%203-1.35%203-3V3c0-1.65-1.35-3-3-3zm-9.82%2016.31c-.05-.41-.13-.81-.26-1.21-.21-.63-.51-1.25-.9-1.84-.06-.09-.12-.17-.18-.26-.55-.78-.86-1.8-.86-2.87C8.98%207.85%2010.33%206%2012%206s3.02%201.85%203.02%204.13c0%201.07-.31%202.09-.86%202.87-.06.09-.12.17-.18.26-.39.59-.69%201.21-.9%201.84a6.372%206.372%200%200%200-.3%201.9v.25c0%20.43.16%201.06.65%201.15.14.02.52.06.85.1-.6.3-1.38.5-2.28.5s-1.68-.2-2.28-.5c.33-.04.71-.08.85-.1.49-.09.65-.72.65-1.15V17c0-.23-.01-.46-.04-.69zM12%2021c2.01%200%203.74-.75%204.7-1.9%201.34.53%202.22%201.29%202.3%201.97V22H5v-.93c.08-.68.96-1.44%202.3-1.97.96%201.15%202.69%201.9%204.7%201.9zm10%200c0%20.54-.46%201-1%201v-.9c0-.12%200-.21-.03-.33-.14-1.39-1.39-2.67-3.49-3.51-.02-.01-.05-.02-.07-.03-.6-.24-1.27-.44-1.98-.59-.2-.04-.41-.08-.62-.12.02-.19.06-.39.11-.58.16-.6.45-1.2.86-1.77.01-.02.03-.04.04-.06.78-1.1%201.2-2.52%201.2-3.98C17.02%206.75%2014.77%204%2012%204s-5.02%202.75-5.02%206.13c0%201.46.42%202.88%201.2%203.98.01.02.03.04.04.06.41.57.7%201.17.86%201.77.05.19.09.39.11.58-.21.04-.42.08-.62.12-.71.15-1.38.35-1.98.59-.02.01-.05.02-.07.03-2.1.84-3.35%202.12-3.49%203.51-.03.12-.03.21-.03.33v.9c-.54%200-1-.46-1-1V3c0-.54.46-1%201-1h18c.54%200%201%20.46%201%201v18z%22%2F%3E%3C%2Fsvg%3E");
}

/* HOME */

/*Delete the user links box and the 'find my courses' box*/
div[aria-labelledby*=d2l_1_0_],
div[aria-labelledby*=d2l_1_7_] {
	display: none;
}

/* For the All-Courses popup */
#all-courses,
#all-courses .scrollable {
	background: #212121;
	border-top-color: black;
}

/* Alerts */
.d2l-alert-0 {
	background: #212121;
}

.alert-wrapper .d2l-alert {
	background-color: #424242;
	border-color: black !important;
	border-width: 3px;
}

.alert-wrapper .d2l-alert {
	border-bottom-right-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.alert-wrapper .d2l-alert .message-highlight.d2l-alert {
	background-color: #E53935;
	border-color: inherit !important;
	border-radius: 3px 0 0 3px !important;
}

/* Course Box */
d2l-card {
	border-width: 1px;
	border-color: black !important;
}

/* .d2l-course-image-tile #dropdown-more {
	visibility: hidden;
} */

/* Re-Enable Change Image Option */
.d2l-course-image-tile d2l-menu d2l-menu-item:first-of-type {
	display: flex !important;
}

.d2l-course-image-tile-0 .image-container.d2l-course-image-tile {
	background: black;
}

.d2l-image-tile-0 .d2l-image-tile-image-container.d2l-image-tile {
	background: black;
	border-color: black;
}

d2l-image-tile-container style-scope d2l-image-tile:first-child {
	background-color: black !important;
}

d2l-course-image-tile .d2l-image-tile-menu-adjacent-container.d2l-image-tile {
	/* Course Box Pinned/Unpinned invisible */
	opacity: 0;
	transition: opacity .5s;
}

d2l-course-image-tile:hover .d2l-image-tile-menu-adjacent-container.d2l-image-tile {
	/* Course Box Pinned/Unpinned visible */
	opacity: 1;
}

.update-text-box {
	/* Update Notification */
	margin-right: 10px !important;
	margin-top: 10px !important;
	border-color: #e87511 !important;
}

.flex {
	background-color: #616161;
	overflow: hidden;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.course-text {
	padding-left: 10px;
	padding-bottom: 10px;
	color: #EEEEEE;
}

.course-code-text,
.semester-text,
.d2l-icon-2 {
	color: #BDBDBD !important;
}

