/* LOGIN */

/*fix col width so external login fits*/
.col-md-1 {
	width: 0 !important;
}

#metaritlogo {
	left: 6px !important;
	top: 0;
	width: 375px !important;
	height: 51px !important;
	background: url(https://www.rit.edu/marketing/brandportal/downloads/logos/hor/1-line/white/new_RIT_full_hor_w.png) no-repeat !important;
	background-size: 375px auto !important;
}

/*rounded corners for most things */
#login-container,
.col-md-5.splash-inset,
.support {
	border-radius: 15px;
}

/* Change color for support boxes and images inside */
.support {
	background-color: #424242 !important;
	color: white;
}

.support:hover {
	background-color: #E87420 !important;
}

.col-md-3 .support img {
	filter: contrast(5);
}

/*Get rid of 'review info for browser' and fix spacing*/
.col-md-8 .login-list {
	display: none;
}

.col-md-8 .row {
	padding-top: 20px;
	padding-bottom: 10px;
}

/*Delete scrollbar*/
html {
	overflow: hidden;
}